@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  scroll-behavior: smooth;
}

::selection {
  background-color: #fff;
  color: red;
}



[data-mode="light"]{
  --light-color: #333;
  --coloe: #333;
  --shadow-text: 2px 2px 7px rgba(0, 0, 0, 0.7);
  --border-color: 1px solid #333;
  --mode-icon-color: white;
  --back-footer: white;
  --color-white: #333;
  --border-color: #fff;
  --textarea-color: white;
  --back-textarea: white;
  --mode-back-slide-color: #333;
  --slide-color: #333;
  --mode-slide-color: #fff;
  --mode-border-color: #333;
  --home-text-shadow: 5px 5px 7px rgba(250, 250, 250, 0.5);
  --home-text-color: #fff;
  --home-border-color: 1px solid azure;
  --home-color: #333;
  --box-shadow-all: 1px 1px 7px 2px rgba(250, 250,250, 0.4);
  --home-extra-color: azure;
  --home-color-text: azure;
}

[data-mode="dark"]{
  --light-color: #fff;
  --coloe: rgb(0, 255, 211);
  --shadow-text: 2px 2px 7px rgb(250, 250, 250, 0.5);
  --border-color: 1px solid #fff;
  --mode-icon-color: #333;
  --back-footer: #000;
  --color-white: #fff;
  --border-color: #333;
  --textarea-color: #333;
  --back-textarea: transparent;
  --slide-color: #fff;
  --mode-back-slide-color: #fff;
  --mode-slide-color: #333;
  --mode-border-color: #fff;
  --home-text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
  --home-text-color: #333;
  --home-color: azure;
  --box-shadow-all: 2px 2px 7px 2px rgba(0, 0, 0, 0.5);
  --home-color-text: #333;
}
html {
  overflow-x: hidden;
}

body {
  background-color: var(--light-color);
  overflow-x: hidden;
}

section {
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid #aaa;
}

.logo {
  position: absolute;
  top: 13px;
  left: 5%;
  width: 45px;
  height: 33px;
  text-align: center;
  background-color: #333;
  box-shadow: 2px 2px 11px 3px rgba(0, 0, 0, 0.5);
  border: 2px solid whitesmoke;
  border-radius: 5px;
  z-index: 1000;
}

.logo h4 {
  font-size: 20px;
  color: yellow;
  margin-top: 3px;
  font-weight: 300;
  text-shadow: 3px 3px 11px rgba(250, 250, 250);
}

.logo .surname-line{
 width: 17px;
 height: 2.4px;
 background-color: whitesmoke;
 transform: rotate(-90deg);
 margin-left: 15px;
 margin-top: -7px;
 border-bottom-right-radius: 1px;
 box-shadow: 2px 2px 11px 2px rgba(250, 250, 250, 0.3); 
 /*transform: scaleX(-1);*/
}

.name-surname {
  position: absolute;
  top: 13px;
  left: 7%;
  width: 100px;
  height: 33px;
  z-index: 1000;
}

.name-surname h4 {
  font-size: 17px;
  color: var(--mode-slide-color);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-top: 6px;
  margin-right: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.heading {
  position: fixed;
  width: 25%;
  height: 40px;
  top: 35px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border: 1px solid var(--border-color);
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px); 
}

.heading .nav-bar .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading .nav-bar .nav-list li {
  list-style: none;
}

.heading .nav-bar .nav-list li a{
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  font-style: italic;
  color: #333;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  transition: 0.2s ease;
  text-transform: lowercase;
}

.heading .nav-bar .nav-list li .navigation-link.active{
  color: rgba(0, 0, 250, 0.6); 
}

.heading .nav-bar .nav-list li a:hover {
  transform: scale(1.3);
}

@media (min-width: 320px) and (max-width: 480px) {
  .heading {
    display: none;
  }

  .logo {
    position: absolute;
    top: 13px;
    left: 7%;
    width: 37px;
    height: 26px;
    text-align: center;
    background-color: #333;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.5);
    border: 1.5px solid whitesmoke;
    border-radius: 3px;
    z-index: 1000;
  }
  
  .logo h4 {
    font-size: 17px;
    margin-top: 2px;
    font-weight: 200;
    text-shadow: 3px 3px 11px rgba(250, 250, 250);
  }
  
  .logo .surname-line{
   width: 14px;
   height: 1.8px;
   transform: rotate(-90deg);
   margin-left: 13px;
   margin-top: -6px;
   box-shadow: 2px 2px 7px 2px rgba(250, 250, 250, 0.3); 
   /*transform: scaleX(-1);*/
  }
  
  .name-surname {
    width: 80px;
  }

  .name-surname h4{
    font-size: 14px;
    margin-left: 45px;
    padding-bottom: 5px;
  }

}


/*  ---------------------------  menu  -------------------------  */

.menu-icon {
  display: none;
  position: relative;
}

.slide ul{
  display: none;
}

.input-checking {
  display: none;
  visibility: hidden;
  -webkit-appearance: none;
  appearance: none;
}

.menu-line {
  position: fixed;
  top: 15px;
  right: 20px;
  width: 40px;
  height: 25px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  z-index: 1002;
  user-select: none;
}

.menu-line .common {
  position: absolute;
  width: 25px;
  height: 2px;
  border-radius: 5px;
  background-color: rgb(106, 90, 205)
  transition: 0.3s ease;
}

.menu-line .top-line {
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-line .bottom-line {
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-checking:checked ~ .menu-line .top-line {
  top: 12px;
  left: 7px;
  transform: rotate(40deg);
}

.input-checking:checked ~ .menu-line .bottom-line {
  top: 12px;
  left: 7px;
  transform: rotate(-40deg);
}
  
.horizontal {
  display: none;
}

@media (min-width: 320px) and (max-width: 480px){
  .menu-icon {
    display: block;
  }

  .slide {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(250, 250, 250, 0.8); 
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
  }

  .horizontal {
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    height: 0.5px;
    color: rgba(250, 250, 250, 0.5);
    z-index: 1000;
  }  

  .slide ul{
     width: 95%;
     min-width: 315px;
     height: 300px;
     margin-top: 250px;
     margin-left: 13px;
  }

  .slide ul li {
   list-style: none;
   width: 95%;
   height: 55px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   transition: 0.3s linear;
   border-bottom: 1px solid rgba(250, 250, 250, 0.1);
  }


  .slide ul li:hover {
   border-bottom: 1px solid rgba(0, 0, 250, 0.6);
   }

   .slide ul li:hover a {
    transform: scale(1.2);
    color: rgba(0, 0, 250, 0.6);
    }

   .slide ul li a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-weight: 700;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
   }
    
   .menu-icon .slide ul li .responsive-link.active{
    color: rgba(0, 0, 250, 0.6); 
  }
  
}

/*  ---------------------------  menu  -------------------------  */


/*  ---------------------------  mode  -------------------------  */

.mode {
  position: fixed;
  top: 8px;
  right: 30px;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 999; 
}

.mode .spinner {
    font-size: 30px;
    margin: 7px 7px;
    cursor: pointer;
    color: var(--mode-icon-color);
  }

  .mode .spinner:hover {
    cursor: pointer;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {transform: rotate(0deg);}
    0% {transform: rotate(360deg);}
  
}

@media (min-width: 320px) and (max-width: 480px) {
  .mode {
    top: 6%;
    right: 28px;
    width: 30px;
    height:30px;
  }

  .mode .spinner {
    font-size: 25px;
    margin-right: 25px;
    color: var(--mode-icon-color);
  }

}

/*  ---------------------------  mode  ------------------------- */

/*  ---------------------   home  --------------------  */
.home {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  position: relative;
}

.home .home-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .home-all .avatar-text-icon {
   position: absolute;
   left: 50%;
   top: 30%;
   width: 300px;
   height: 250px;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.home .home-all .avatar-text-icon img {
   width: 177px;
   height: 177px;
   transition: 0.3s ease;
   border: 5px solid whitesmoke;
   border-radius: 50%;
}

.home .home-all .hand-wave{
 font-size: 25px;
 color: whitesmoke;
 margin-top: -35px;
 margin-left: 125px;
}

.home .home-all .avatar-text-icon h4 {
  font-size: 23px;
  color: var(--home-color-text);
  font-weight: 700;
  font-family: monospace;
  letter-spacing: 3px;
  margin-top: 25px;
  margin-left: 15px;
  text-shadow: var(--home-text-shadow);
}

.avatar-text-icon h4 .hello {
  display: inline-block;
  font-size: 17px;
  text-transform: uppercase;
  color: mediumspringgreen;
  margin-bottom: 10px;
}

.home .home-all .home-text {
  position: absolute;
  left: 50%;
  top: 58%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 200px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home .home-all .home-text h2{
  font-size: 37px;
  text-transform: capitalize;
  color: var(--home-text-color);
  text-shadow: var(--home-text-shadow);
  font-weight: 700;
  margin-bottot: 50px;
  letter-spacing: 2px;
  font-family: "Arial", cursive;
}

.home .home-all .home-text p{
  font-size: 17px;
  color: var(--home-text-color);
  margin-bottom: 40px;
  margin-top: 20px;
  margin-left: 40px;
  text-shadow: var(--home-text-shadow);
  font-family: cursive;
  letter-spacing: 2px;
  line-height: 1.7;     
}

.home .home-all .home-contact-download {
  position: absolute;
  left: 50%;
  bottom: 25px;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.home .home-all .contact-download {
  width: 100%;
  height: calc(100% - 60%);
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 60px;
}

.home .home-all .contact-download a{
  display: inline-block;
  text-decoration: none;
  width: 225px;
  height: 40px;
  margin-top: 10px;
  background-color: rgba(0, 0, 250, 0.6);
  color: azure;
  text-align: center;
  line-height: 2;
  border-radius: 7px;
  margin-left: 5px;
  font-style: italic;
  box-shadow: var(--box-shadow-all);
  transition: 0.3s ease-out;
  border: var(--home-border-color);
}

.home .home-all .contact-download a:hover{
  background-color: #333;
  color: white;
  border: 1px solid white;
}

.home .home-all .contact-download a span{
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: "Arial", sans-serif;
  text-shadow: var(--home-text-shadow);
  margin-top: 3px;
}

.home .home-all .social-links{
  width: 95%;
  height: auto;
  margin-top: 35px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .home-all .social-links a{
  display: inline-block;
  text-decoration: none;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 20px;
  background-color: #333;
  box-shadow: var(--box-shadow-all);
  border: var(--home-border-color);
  transition: transform 0.3s ease;
}

.home .home-all .social-links a i{
  font-size: 24px;
  margin-top: 4px;
  color: azure;
}

.home .home-all .social-links a:hover{
  transform: scale(1.2);
  border: 1px solid azure;
}


@media (min-width: 320px) and (max-width: 480px){
  .home .home-all .avatar-text-icon {
    top: 20%;
 }

 .home .home-all .avatar-text-icon img {
  width: 150px;
  height: 150px;
}

.home .home-all .hand-wave{
font-size: 20px;
color: whitesmoke;
margin-top: -25px;
margin-left: 75px;
}

.home .home-all .avatar-text-icon h4 {
 font-size: 17px;
 margin-top: 25px;
 margin-left: 10px;
}

.avatar-text-icon h4 .hello {
 font-size: 14px;
}

  .home .home-all .home-text {
    top: 50%;
    width: 315px;
    height: 177px;
    margin-right: 10px;
    word-wrap: break-all; 
    overflow-wrap: break-word;
  }
  
  .home .home-all .home-text h2{
    font-size: 27px;
    font-weight: 700;
    margin-right: 3px;
  }
  
  .home .home-all .home-text p{
    font-size: 14px;
    font-weight: 500;
    color: var(--home-text-color);
    margin-bottom: 40px;
    margin-top: 30px;
    margin-left: 5px;
    letter-spacing: 1.5px;
    line-height: 2;    
  }

  .home .home-all .contact-download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  
  .home .home-all .contact-download a {
    width: 300px;
    height: 40px;
    margin-top: 10px;
    margin-right: 7px;
  }

  .home .home-all .contact-download a span{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 4px;
  }

   .home .home-all .social-links a {
    display: inline-block;
    text-decoration: none;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-top: 20px;
  }
  
  .home .home-all .social-links a i{
    font-size: 17px;
    margin-top: 6px;
    margin-left: 1px;
  }
  
  .home .home-all .social-links a:hover{
    transform: scale(1.1);
  }
  
}
/*  ---------------------   home  --------------------  */

/*  ---------------------   about  -------------------  */
.about {
  position: relative;
}

.about h2 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #aaa;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.about .about-all {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.about-all img{
  width: 270px;
  height: 370px;
  margin-right: 50px;
  border: 1px solid #aaa;
  margin-top: 114px;
  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
  transform: scale(1.5);
  border-radius: 5px;
}

.about-all img:hover{
  transform: scale(1.7);
}

.about-all .about-img-para {
  width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;;
  align-items: center;
  gap: 10px;
}


.about .about-all .about-img-para p {
  font-size: 14px;
  margin-top: 50px;
  color: #aaa;
  line-height: 1.5;
  font-family: monospace;
  font-weight: 500;
  font-style: normal;
  margin-left: 100px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.about .about-all .about-img-para p::first-letter {
  font-size: 20px;
  color: #ccc;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.about .about-all .about-line {
  border: 1px solid #ccc;
  border-radius: 505;
  margin-top: 50px;
  margin-left: 15px;
  width: 85%;
}

 .about-img-para .my-skills {
   width: 700px;
   height: 200px;
   margin-top: -10px;
   margin-left: -27%;
   margin-bottom: 10px;
}

.about .about-all .my-skills h4 {
  margin-bottom: 25px;
  margin-left: 20px;
  font-size: 20px;
  margin-top: 50px;
}

.about .about-all .my-skills ul{
 display: grid;
 grid-template-columns: repeat(5, 1fr);
 row-gap: 2px;
 column-gap: 10px;
 margin-left: 10px;
}

.about .about-all .my-skills ul li{
  list-style: none;
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  font-size: 17px;
  margin: 5px;
  background-color: #fff;
  color: #333;
  padding-top: 12px;
  border-radius: 5px;
  margin-left: 10px;
  font-weight: 500;
  transition: 0.3s ease;
  text-align: center;
 }

 .about .about-all .my-skills ul li:hover{
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  transform: scale(1.1);
 }

 @media (min-width: 320px) and (max-width: 480px){
  .about {
    height: 200vh;
  }
  .about h2 {
    top: 4%;
    font-size: 17px;
  }

  .about .about-all {
    top: 25%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 125px;
 }

  .about .about-all img{
    width: 200px;
    height: 275px;
    margin-left: 50px;
    transition: 0.3s ease;
    margin-bottom: 20px;
 }

 .about .about-all .about-img-para{
  width: 310px;
  height: 500px;
  margin-top: 25px;
 }

 .about .about-all p{
  font-size: 12px;
  width: 100%;
  height: 100%;
  margin-right: 100px;
  margin-bottom: 10px;
}

.about .about-all .about-line {
  border: 1px solid #aaa;
  border-radius: 50%;
  margin-top: 150px;
  width: 100%;
  margin-left: -10px;
}

.about-img-para .my-skills {
  width: 300px;
  height: 100%;
  margin-left: 15px;
  margin-top: 25px;
}

.about .about-all .my-skills h4 {
  font-size: 20px;
  margin-top: -5px;
  color: #aaa;
}

.about .about-all .my-skills ul{
  grid-template-columns: repeat(2, 1fr);
  width: 177px;
  min-height: 250px;
  margin-left: 25px;
 }

 .about .about-all .my-skills ul li{
  width: 100%;
  height: 35px;
  font-size: 11px;
  border-radius: 3px;
  font-weight: 600;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  line-height: 0.8;
 }
 
 
 
}
/*  ---------------------   about  -------------------  */

/*  ------------------- portfolio  -------------------  */

.portfolio {
  position: relative;
}

.portfolio h2 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #aaa;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.portfolio .port-area-all {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.port-area-all .portfolio-projects {
  position: relative;
  margin: 5px;
  box-shadow: 2px 2px 11px 5px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
  border-radius: 3px;
  width: 300px;
  height: 200px;
  border: 1px solid var(--border-color);
}

.port-area-all .portfolio-projects:hover {
 transform: scale(1.1);
}

 .portfolio-projects .projects-link{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  border: 1px solid var(--slide-color);
}


 .portfolio-projects .projects-link i{
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #000;
  display: none;
  transition: 0.3s ease;
 }

 .portfolio-projects .projects-link:hover i {
  display: block;
  transform: scale(1.2);
 }

.portfolio-projects .projects-text-icon{
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 60px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: var(--border-color);
  border-radius: 2px;
}

.portfolio-projects .projects-text-icon h4{
  font-size: 17px;
  margin-top: -5px; 
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.portfolio-projects .projects-text-icon i{
  font-size: 14px;
  margin-top: 5px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  color: #333;
}

@media (min-width: 320px) and (max-width: 480px){
  .portfolio {
    height: 200vh;
}
  .portfolio h2 {
    left: 50%;
    top: 4%;
    font-size: 17px;
  }

  .portfolio .port-area-all {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 1200px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
    margin-top: 100px;
  }

  .port-area-all .portfolio-projects {
      margin: auto;
      width: 250px;
      height: 200px;
  }
  
  .portfolio-projects .projects-text-icon{
    height: 60px;
    margin-top: 20px;
  }

  .portfolio-projects .projects-text-icon h4{ 
    font-size: 14px;
    margin-top: 5px;
  }
  
  .portfolio-projects .projects-text-icon i{
    font-size: 11px;
  }
  

  
}

/*  ------------------- portfolio  -------------------  */

/*  -------------------   contact  -------------------  */
.contact {
   position: relative;
   width: 100%;
   height: 100vh;
}

.contact h2 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #aaa;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.contact .contact-area-all {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contact .contact-area-all .contact-location{
   display: flex;
   flex-direction: column;
}

.contact-area-all .contact-location iframe{
  border-radius: 5px;
}


.contact-location .contact-location-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
}

.contact-location .contact-location-info i{
  font-size: 17px;
  color: blue;
}

 .contact-location .contact-location-info h4{
  font-size: 17px;
  line-height: 5;
  color: #aaa;
}

.contact-area-all .contact-form {
   width: 500px;
   height: 300px;
   margin-top: -35px;
 }  

.contact-area-all .contact-form form {
 display: flex;
 flex-direction: column;
 gap: 10px;
}

.contact-area-all .contact-form form input {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #aaa;
  outline: none;
  font-size: 17px;
  font-weight: 500;
  margin-top: 5px;
 }

 .contact-area-all .contact-form form input:focus {
  box-shadow: var(--box-shadow-all);
 }

 .contact-area-all .contact-form form input::placeholder {
  color: #aaa;
  opacity: 0.5;
  font-size: 16px;
  padding: 12px;
  border: 1px solid #aaa;
 }

 .contact-area-all .contact-form form textarea {
  width: 100%;
  height: 140px;
  font-size: 17px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #aaa;
  resize: none;
  color: #aaa;
  border: 1px solid #333; 
 }


 .contact-area-all .contact-form form textarea:focus{
  box-shadow: var(--box-shadow-all);
  border: 1px solid #aaa;
 }

 .contact-area-all .contact-form form textarea::placeholder{
  color: #aaa;
  font-size: 17px;
  padding: 10px;
 }

 .contact-area-all .contact-form input[type="submit"]{
  text-align: center;
  background-color: blue;
  color: whitesmoke;
  font-size: 17px;
  font-weight: 600;
  margin-top: 7px;
  border-radius: 5px;
  border: none;
 }

 .contact-area-all .contact-form input[type="submit"]:hover{
  color: #fff;
  background-color: #000;
  cursor: pointer;
 }

 .contact-area-all .contact-form .success-info{
    width: 100%;
    height: 25px;
    background: transparent;
    margin-top: 10px;
    text-align: center;
 }

 .contact-area-all .contact-form .success-info p{
  font-size: 15px;
  padding: 4px;
  color: mediumspringgreen;
  font-weight: 600;
}

@media (min-width: 320px) and (max-width: 480px){
  .contact {
    position: relative;
    height: 111vh;
  }


  .contact h2 {
    position: absolute;
    left: 50%;
    top: 7%;
    transform: translate(-50%, -50%);
    font-size: 17px;
  }

  .contact .contact-area-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: -10px;
  }
  
  .contact .contact-area-all .contact-location{
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 10px;
  }
  
  .contact-area-all .contact-location iframe{
    border-radius: 5px;
    width: 300px;
    height: 275px;
  }

  .contact-location .contact-location-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
    line-height: 1.5;
  }
  
   .contact-location .contact-location-info h4{
    line-height: 2.5;
  }

  .contact-area-all .contact-form {
    margin-top: 15px;
  }  

  .contact-area-all .contact-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }  

  .contact-area-all .contact-form form input{
    width: 300px; height: 40px;
    font-size: 14px;
    color: red;
    margin-top: 7px;
  }  

  .contact-area-all .contact-form form input::placeholder{
    font-size: 14px;
  }  

  .contact-area-all .contact-form form textarea{
    width: 300px;
    height: 115px;
    color: #000;
    font-size: 14px;
    margin-top: 7px;
  }  

  .contact-area-all .contact-form form textarea::placeholder{
    font-size: 14px;
   }

   .contact-area-all .contact-form input[type="submit"]{
    font-size: 14px;
    font-weight: 500;
   }

   .contact-area-all .contact-form .success-info p{
    font-size: 12px;
    padding: 4px;
    color: mediumspringgreen;
    font-weight: 500;
  }

}
/*  -------------------   contact  -------------------  */

/*  -------------------   footer   -------------------  */
footer {
  position: relative;
  width: 100%;
  height: 200px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(250, 250, 250, 0.5));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-list {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.footer-list li{
  list-style: none;
}

.footer-list li a {
  display: block;
  text-decoration: none;
  font-size: 17px;
  wont-weight: 600;
  color: #aaa;
  transition: 0.3s ease-in-out;
  font-style: italic;
}

.footer-list li a:hover {
  transform: scale(1.2);
  color: #aaa;
}

footer .social-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

footer .social-links a{
  display: block;
  width: 30px; height: 30px;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.5);
  background-color: #333;
  transition: 0.2s ease;
}

footer .social-links a:hover{
   transform: scale(1.2);
}

footer .social-links a i{
  font-size: 20px;
  margin-top: 4px;
  margin-left: 1px;
  color: #fff;
}

footer p {
  font-size: 14px;
  font-weight: 500;
  margin-top: 30px;
  color: #aaa;
  text-shadow: 2px 2px 11px rgba(0, 0, 0, 0.5);
}

@media (min-width: 320px) and (max-width: 480px){
  footer {
    width: 100%;
    height: 250px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(250, 250, 250, 0.5));
  }

  footer .footer-list {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 10px;
     margin-top: 17px;
     color: #000;
  }

   footer .footer-list a {
     color: rgba(0, 0, 250, 0.6);
  }

  footer .footer-list a:hover {
     transform: scale(1.3);
     color: #fff;
 }

 footer .social-links a {
  width: 25px; height: 25px;
  margin-bottom: 20px;
  background-color: #333;
  text-align: center;
  border-radius: 5px;
  margin-left: 2px;
}

 footer .social-links a i {
  font-size: 14px;
  color: whitesmoke;
  margin-left: 0.5px;
  margin-top: 4px;
}

 footer p {
  margin-top: 10px;
  font-size: 12px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
 }

}
/*  ------------------------- footer --------------------------- */

